body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ================header section============================= */
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  gap: 40px;
}
.header-address-list {
  display: flex;
  gap: 40px;
}
.header-logo {
  color: #4d5ae5;
  margin-right: 76px;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
}
.header-logo-accent {
  color: #2e2f42;
}
.header-nav-link {
  display: inline-block;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding: 24px 0;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}

.header-address-list {
  display: flex;
  gap: 40px;
}

.header-mailtel {
  display: inline-block;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.header-mailtel:hover,
.header-mailtel:focus {
  color: #404bbf;
}

/* banner section ============================================================*/
.banner-section {
  background-color: #2e2f42;
  padding: 188px 0;
}

.banner-text {
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
  text-align: center;
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}

.banner-button {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: #4d5ae5;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
}

.banner-button:hover,
.banner-button:focus {
  background-color: #404bbf;
}

/* =========================advantages=============================== */

.advantages-section {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-section-list {
  display: flex;
  gap: 24px;
}

.advantages-section-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.advantages-section-name {
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.advantages-section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* ===================== team section ========================================= */
.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team-section-title {
  margin-bottom: 72px;
  text-align: center;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.team-section-list {
  display: flex;
  gap: 24px;
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.team-section-item {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
}

.team-section-info {
  border-radius: 0px 0px 4px 4px;
  padding: 32px 0;
}

.team-section-name {
  margin-bottom: 8px;
  text-align: center;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.team-section-text {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* ============================== portfolio =================================== */
.portfolio-section {
  padding: 120px 0;
}

.portfolio-section-list {
  display: flex;
  gap: 24px;
  flex-basis: calc((100% - 24px * 2) / 3);
  flex-wrap: wrap;
}

.portfolio-section-item {
  border: 1px solid #e7e9fc;
}

.portfolio-section-title {
  margin-bottom: 72px;
  text-align: center;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.portfolio-section-info {
  padding: 32px 0;
  padding-left: 16px;
  border: 1px solid #e7e9fc;
}

.portfolio-section-name {
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.portfolio-section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
/* =============FOOTER===================== */

.footer {
  background-color: #2e2f42;
}

.footer-logo {
  color: #4d5ae5;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
}

.footer-logo-accent {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
